<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://laitruong06.store" target="_blank"
    >
      LaiTuanTruong
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://laitruong.000webhostapp.com/" target="_blank"
    >
      Donate me 
    </a>
  </p>
</footer>
